*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-width:1000px ;
}
.tong{
    height: 1630px;
    width: 100%;
}
.header{
    width: 100%;
    height: 130px;
    background-color: #ffe7af;
    position: relative;
    border-bottom: 2px dotted #adabab;
}
.logo{
    width: 355px;
    height: 100px;
    position: absolute;
    top:-6px;
    left: 100px;
}
.logo2{
    font-family: caveat;
    font-size: 16px;
    color: #932d5e;
    position: absolute;
    left: 103px;
    top: 15px;
    float: right;
}
.boxs{
    width: 300px;
    height: 50px;
    position: relative;
    left: 700px;
    top: 10px ;
}
.container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.container-1 input#search{
    width: 400px;
    height: 30px;
    background: #ff8989;
    border: none;
    font-size: 10pt;
    float: left;
    color: #dba47a;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
}
.header .search-btn{
    float: right;
    padding: 0 21px;
    margin-top: -60px;
    margin-right: 450px;
    position: relative;
    top: 6px;
}
.header .search-btn:hover{
    cursor: pointer;
    background-color: #ff8989;
}
.header .search-icon{
    color: #c67777;
    font-size: 20px;
    line-height: 60px;
}
.hot{
    float: left;
}
h2{
    color:  #932d5e;
    font-family: caveat;
    position: relative;
    left: 1250px;
    bottom: -55px ;
}
.link{
    float: right;
    margin-right: 50px;
    margin-top: -40px ;
}
.txt{
    float: left;
    margin-left: 20px;
}
.toplink{
    height: 50px ;
    width: 100%;
    background-color: #ffe7af;
    position: sticky;
    z-index: 1000;
    backface-visibility: hidden;
    top: -1px ;
    width: 100%;
    text-align: center;
}
.nav > li{
    display: inline-block;
}
.nav li{
    list-style: none;
    position: relative;
}
.nav li a{
    text-decoration: none;
    color: hotpink;
    font-family: caveat;
    line-height: 50px ;
    padding: 0 34px ;
    display: block;

}
.nav li:hover .subnav{
    display: block;
}
.nav > li:hover > a{
    color: #950000;
    background-color: #e8ee1b;
}
.nav .subnav{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) ;
}
.nav .subnav a{
    padding: 0 30px;
    line-height: 38px ;
}
.nav .nav-arrow-down{
    font-size: 13px;
}

.nav .subnav li:hover{
    color: #950000;
    background-color: #e8ee1b;
}
.main{
    width: 100%;
    height: 1000px;
    background-color: #ff8989;
}
.box1{
    width: 400px;
    height: 300px;
    background-color: #ffe7af;
    margin-left: 220px;
    position: relative;
    top: 50px;
   border-radius: 10px;
    box-shadow: 10px 10px 5px 5px #d27d7d;
}
.box1 img{
    border-radius: 10px;
    padding: 5px;
}
.box1:hover{
    transform: scale(1.2,1.2) ;
}
.box2{
    padding: 20px;
    border: 2px solid snow;
    width: 600px;
    height: 400px;
    background-color: #ffe7af;
    margin-left: 680px;
    margin-top: -250px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 5px #d27d7d;
}
.la{
    width: 550px;
    height: 50px;
    background-color: #ffe7af;
    border-bottom: 2px solid #d5d0d0;
}
.la b{
    color: #ff8989;
    font-size: 23px;
    line-height: 30px;
}
.si{
    width: 80px;
    height: 40px;
    background-color: white;
    float: left;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px 3px #d27d7d;
}
.si p{
    line-height: 40px;
    font-size: 14px;
    margin-left: 5px;
}
.mo{
    margin-top: 100px;
}
.la2 h4{
    font-size: 20px;
    margin-top: 20px;
}
.la2 .p1{
    margin-top: 10px;
    font-size: 18px;
}
input{
    font-size: 18px;
    margin-top: 20px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px 3px #d27d7d;
}
.sub{
    margin-left: 150px;
    margin-top: -68px;
}
.sub input{
    width: 130px;
    color: white;
    background-color: #ff0000;
    font-size: 18px;
}
.la3 p{
    margin-top: 1px;
}
.mo p{
    font-size: 20px;
}
.box3{
    width: 400px;
    height: 400px;
    background-color: #ffe7af;
    margin-top: -40px;
    margin-left: 227px;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid snow;
    box-shadow: 10px 10px 5px 5px #d27d7d;
}
.box3 ul{
    margin-top: 20px;
    margin-left: 25px;
}
.box3 li{
    font-size: 18px;
}
.box3 p{
    font-size: 22px;
}
#search{
    margin-top: 1px;
    margin-left: -30px;
}























.footer1{
    width: 100% ;
    height: 430px;
    background-image: url("https://theme.hstatic.net/1000313040/1000406925/14/footer-bg.png?v=1719");
}
.footer3{
    width: 100%;
    height: 430px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
}
.footer3 img{
    margin-top: 50px;
    margin-left: 60px ;
}
.footer4{
    color: white;
    margin-left: 210px;
    margin-top: px;
}
.footer4 ul{
    margin-left: -160px;
}
.chinh{
    margin-left: 300px;
    margin-top: -225px ;
}
.sach{
    font-size: 23px;
}
.sach2{
    margin-top: 20px;
}
.chinh p{
    margin-top: 10px;
}
.sach3{
    margin-left: 300px;
    margin-top: -180px;
}
.sach4{
    font-size: 23px;
}
.sach5{
    margin-top: 20px;
}
.sach6{
    font-size: 21px;
    margin-left: 340px;
    margin-top: -200px;
}
.sach7 img{
    margin-left: 350px;
}
.footer2{
    width: 100%;
    height: 30PX;
    background-color: #500d0d;
}