.box{
    float: left;
    width: 600px;
    height: 600px;
    margin: 50px;
    border: 1px solid red;
}
.child{
    float: left;
    width: 100px;
    height: 50px;
    border: 1px solid black;
    background-color: chartreuse;
    position: absolute;/* ghim phna tu */
    top: 50px;
    left: 20px;
}
p{
    position: relative;
    top: 20px;
    right: 50px;
    margin: 0;
}